# ============ IDE / 编辑器 ============
.vscode
.history

# ============ 系统文件 ============
.DS_Store
*.log

# ============ 依赖目录 ============
node_modules

# ============ 依赖锁定文件 ============
package-lock.json

# ============ 构建产物 ============
dist
tsconfig.build.json
